<ul class="DA-PianoKeyboard">
      <li id = "c3" class="whiteKey">c3</li>
      <li id = "c3s" class="blackKeySharp c3s"><p>♯</p></li>
      <li id = "d3f" class="blackKeyFlat c3s"><p>♭</p></li>
      <li id = "d3" class="whiteKey"></li>
      <li id = "d3s" class="blackKeySharp d3s"></li>
      <li id = "e3f" class="blackKeyFlat d3s"></li>
      <li id = "e3" class="whiteKey"></li>
      <li id = "f3" class="whiteKey"></li>
      <li id = "f3s" class="blackKeySharp f3s"></li>
      <li id = "g3f" class="blackKeyFlat f3s"></li>
      <li id = "g3" class="whiteKey"></li>
      <li id = "g3s" class="blackKeySharp g3s"></li>
      <li id = "a3f" class="blackKeyFlat g3s"></li>
      <li id = "a3" class="whiteKey"></li>
      <li id = "a3s" class="blackKeySharp a3s"></li>
      <li id = "b3f" class="blackKeyFlat a3s"></li>
      <li id = "b3" class="whiteKey"></li>
      <li id = "c4" class="whiteKey">c3</li>
      <li id = "c4s" class="blackKeySharp c4s"><p>♯</p></li>
      <li id = "d4f" class="blackKeyFlat c4s"><p>♭</p></li>
      <li id = "d4" class="whiteKey"></li>
      <li id = "d4s" class="blackKeySharp d4s"></li>
      <li id = "e4f" class="blackKeyFlat d4s"></li>
      <li id = "e4" class="whiteKey"></li>
      <li id = "f4" class="whiteKey"></li>
      <li id = "f4s" class="blackKeySharp f4s"></li>
      <li id = "g4f" class="blackKeyFlat f4s"></li>
      <li id = "g4" class="whiteKey"></li>
      <li id = "g4s" class="blackKeySharp g4s"></li>
      <li id = "a4f" class="blackKeyFlat g4s"></li>
      <li id = "a4" class="whiteKey"></li>
      <li id = "a4s" class="blackKeySharp a4s"></li>
      <li id = "b4f" class="blackKeyFlat a4s"></li>
      <li id = "b4" class="whiteKey"></li>
      <li id = "c5" class="whiteKey">c4</li>
</ul>