    <ul class="DA-PianoKeyboard">
      <li id = "c3" class="whiteKey key"></li>
      <li id = "c3s" class="blackKeySharp key c3s"><p></p></li>
      <li id = "d3f" class="blackKeyFlat key c3s"><p></p></li>
      <li id = "d3" class="whiteKey key"></li>
      <li id = "d3s" class="blackKeySharp key d3s"></li>
      <li id = "e3f" class="blackKeyFlat d3s key"></li>
      <li id = "e3" class="whiteKey key"></li>
      <li id = "f3" class="whiteKey key"></li>
      <li id = "f3s" class="blackKeySharp key f3s"></li>
      <li id = "g3f" class="blackKeyFlat key f3s"></li>
      <li id = "g3" class="whiteKey key"></li>
      <li id = "g3s" class="blackKeySharp key g3s"></li>
      <li id = "a3f" class="blackKeyFlat key g3s"></li>
      <li id = "a3" class="whiteKey key"></li>
      <li id = "a3s" class="blackKeySharp key a3s"></li>
      <li id = "b3f" class="blackKeyFlat key a3s"></li>
      <li id = "b3" class="whiteKey key"></li>
      <li id = "c4" class="whiteKey key"></li>
      <li id = "c4s" class="blackKeySharp key c4s"><p></p></li>
      <li id = "d4f" class="blackKeyFlat key c4s"><p></p></li>
      <li id = "d4" class="whiteKey key"></li>
      <li id = "d4s" class="blackKeySharp key d4s"></li>
      <li id = "e4f" class="blackKeyFlat key d4s"></li>
      <li id = "e4" class="whiteKey key"></li>
      <li id = "f4" class="whiteKey key"></li>
      <li id = "f4s" class="blackKeySharp key f4s"></li>
      <li id = "g4f" class="blackKeyFlat key f4s"></li>
      <li id = "g4" class="whiteKey key"></li>
      <li id = "g4s" class="blackKeySharp key g4s"></li>
      <li id = "a4f" class="blackKeyFlat key g4s"></li>
      <li id = "a4" class="whiteKey key"></li>
      <li id = "a4s" class="blackKeySharp key a4s"></li>
      <li id = "b4f" class="blackKeyFlat key a4s"></li>
      <li id = "b4" class="whiteKey key"></li>
      <li id = "c5" class="whiteKey key"></li>
</ul>