 <ul class="DA-PianoKeyboard">
            <li id = "c3" class="whiteKey key"><p>caps</p></li>
            <li id = "c3s" class="blackKeySharp key c3s"></li>
            <li id = "c3s" class="blackKeyFlat key c3s"><p>q</p></li>
            <li id = "d3" class="whiteKey key"><p>a</p></li>
            <li id = "d3s" class="blackKeySharp key d3s"></li>
            <li id = "d3s" class="blackKeyFlat key d3s"><p>w</p></li>
            <li id = "e3" class="whiteKey key"><p>s</p></li>
            <li id = "f3" class="whiteKey key"><p>d</p></li>
            <li id = "f3s" class="blackKeySharp key f3s"></li>
            <li id = "f3s" class="blackKeyFlat key f3s"><p>r</p></li>
            <li id = "g3" class="whiteKey key"><p>f</p></li>
            <li id = "g3s" class="blackKeySharp key g3s"></li>
            <li id = "g3s" class="blackKeyFlat key g3s"><p>t</p></li>
            <li id = "a3" class="whiteKey key"><p>g</p></li>
            <li id = "a3s" class="blackKeySharp key a3s"></li>
            <li id = "a3s" class="blackKeyFlat key a3s"><p>y</p></li>
            <li id = "b3" class="whiteKey key"><p>h</p></li>
            <li id = "c4" class="whiteKey key"><p>J</p></li>
            <li id = "c4s" class="blackKeySharp key c4s"></li>
            <li id = "c4s" class="blackKeyFlat key c4s"><p>i</p></li>
            <li id = "d4" class="whiteKey key"><p>k</p></li>
            <li id = "d4s" class="blackKeySharp key d4s"></li>
            <li id = "d4s" class="blackKeyFlat key d4s"><p>o</p></li>
            <li id = "e4" class="whiteKey key "><p>l</p></li>
            <li id = "f4" class="whiteKey key"><p>;</p></li>
            <li id = "f4s" class="blackKeySharp key f4s"></li>
            <li id = "f4s" class="blackKeyFlat key f4s"><p>[</p></li>
            <li id = "g4" class="whiteKey key"><p>'</p></li>
            <li id = "g4s" class="blackKeySharp key g4s"></li>
            <li id = "g4s" class="blackKeyFlat key g4s"><p>]</p></li>
            <li id = "a4" class="whiteKey key"><p>ent</p></li>
            <li id = "a4s" class="blackKeySharp key a4s"></li>
            <li id = "a4s" class="blackKeyFlat key a4s"><p>7</p></li>
            <li id = "b4" class="whiteKey key"><p>4</p></li>
            <li id = "c5" class="whiteKey key"><p>5</p></li>
            

         </ul>
     