<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NotePlay</title>
    <link rel="stylesheet" href="piano_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/piano.js"></script>
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>
    <script src="/js/pianoSound.js"></script>
    <script src="/js/login.js"></script>
    <script src ="music.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="../../models/metronome.js"></script>
    <link rel="stylesheet" href="/css/music.css">
    <link rel="stylesheet" href="/css/notes.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    {{{ body }}}
</body>

</html>