<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NotePlay</title>
    <!-- CSS files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/piano_style.css">
    <link rel="stylesheet" href="/css/music.css">
    <link rel="stylesheet" href="/css/notes.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/lessons.css">
    <!-- Javascript files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/pianoSound.js"></script>
    <script src="/js/piano.js"></script>
    <script src="/js/login.js"></script>
    <!-- <script src ="/js/music.js"></script> -->
    <script src="/js/metronome2.js"></script>
    <!--<script src="/js/lessons.js"></script>-->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Shrikhand" rel="stylesheet">
</head>
<body>
    {{{ body }}}
</body>
</html>