<!--- This is where the lessons landing page should go --->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NotePlay</title>
    <!-- Bootstrap core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../public/css/lessons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Shrikhand" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">NotePlay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Lessons</a>
                        <!-- <span class="sr-only">(current)</span> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="container">
            <!-- Page Heading -->
            <h1 class="my-4">Lessons</h1>
            <!-- Lesson One -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
                </div>
                <div class="col-md-5">
                    <h3>Lesson One</h3>
                    <p>Title of song and description will go here</p>
                    <a class="btn btn-info" href="#">Click To Play!</a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <!-- Lesson Two -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
                </div>
                <div class="col-md-5">
                    <h3>Lesson Two</h3>
                    <p>Title of song and description will go here</p>
                    <a class="btn btn-info" href="#">Click To Play!</a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <!-- Lesson Three -->
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
                </div>
                <div class="col-md-5">
                    <h3>Lesson Three</h3>
                    <p>Title of song and description will go here</p>
                    <a class="btn btn-info" href="#">Click To Play!</a>
                </div>
            </div>
            <!-- /.row -->
            <br><br>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- /.container -->
        </div>
        <!-- Footer -->
        <footer class="py-5 bg-dark navbar-default navbar-fixed-bottom">
            <p class="m-0 text-center text-white">Copyright &copy; NotePlay 2017</p>
            <!-- /.container -->
        </footer>
    </div>
</body>
<!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/lessons.js"></script>

</html>