<!-- Blank file to add stuff to later, adding links to possible partials to get started, the lesson partials are going to be their own can of worms -->
<div id="lessonCanvas"></div>

{{title}}

<br><br>

{{> piano}}

<br><br>

{{> metronome}}

{{> (whichJavascript)}}