<div class="wrapper">
    <div class="container">
        <h1>Welcome to NotePlay</h1>
    <form id="signin" name="signin" method="post" action="signin">
            <input type="text" name="email" placeholder="E-Mail Address">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" id="login-button">Login</button>
            <br><br>
            <a href="/signup">Not a member yet? Sign up here!</a>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

