<div class="wrapper">
    <div class="container">
        <h1>Sign Up for NotePlay!</h1>

    <form id="signup" name="signup" method="post" action="signup">
            <input type="text" name="email" placeholder="E-Mail Address">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" id="login-button">Sign Up!</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

